.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 18px;
  font-weight: 800;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__info > button {
  background: #3e3e3f;
  color: #fff;
  border: 1px solid;
}
