.checkout {
  margin-top: 70px;
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
}

.checkout__emptyImg {
  margin-top: 10px;
  width: 40%;
}

.checkout__right h1 {
  padding: 20px 0 20px 95px;
}
