.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__emptyImg {
  margin-top: 10px;
  width: 40%;
}

.checkout__right {
  margin-top: 100px;
}

.checkout__right h1 {
  padding: 20px 0 20px 95px;
}
