@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
.home {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.special {
  font-family: "Quicksand", sans-serif;

  margin-top: 30px;
}
.title span {
  background-color: #404040;
  font-size: 30px;
  color: white;
}

.special__container {
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.special__image {
  height: 390px;
  width: 600px;
}
.hr__special {
  width: 210px;
  margin: 0;
  margin-top: 10px;
}
.special__text {
  width: 560px;
  line-height: 1.5;
  font-size: 1.1em;
  font-weight: 400;
  padding: 20px 0;
  font-weight: 400;
}
.underline {
  width: 40px;
  border: 1px solid;
}
.special__h1 {
  font-weight: 400;
  font-size: 1.4em;
}
.special__bottom {
  background: #3e3e3f;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 1.25rem 8.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.0625rem;
  margin: 5px auto;
  display: block;
}
.hr__bottom {
  opacity: 0.7;
  width: 400px;
  margin: 50px auto;
}

@media only screen and (max-width: 600px) {
  .special__container {
    display: flex;
    justify-content: center;
    grid-gap: 100px;
    gap: 100px;
    flex-direction: column;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  .special__text {
    max-width: 360px;
  }
}
