/*-----offer------*/

.loading{
    background-image: url('https://images.unsplash.com/photo-1463936575829-25148e1db1b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1390&q=80');
    background-size: cover;
    background-position: center;
    background-position-y: 500px;
    margin-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 120px;
}
#row-loading {
    margin: initial !important;
}
.subscribe{
    max-width: 500px;
    margin-top: 80px;
    padding: 60px;
    background: #ffffff8c;
    margin-bottom: 20px;
}
.subscribe a{
    width: 100px;
    display: block;
    color: white !important;
    background: #333;
    text-decoration: none;
    
    padding: 5px;
    text-align: center;
}
.subscribe h4 p {
    background: #ffffff8c;
}
.loading img{
    width: 300px;
    height: 400px;
    margin: -70px;
    margin-top: 150px;
}



