.gallery {
    padding: 1rem;
    max-width: 77rem;
    margin: auto;
    display: grid;
    margin-bottom:-250px;
    grid-gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, minmax(10rem, auto));
    grid-auto-flow: dense;
  
    
  }
  .head-h5{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-top: 120px;
    
}
.head-h5 span{
  background: rgba(0, 0, 0, 0.75);
}
.portfolio-center{
  margin-top: -50px;
  
}


.span-insire-r{
  margin-top: 30px;
}
  .span-inspire{
    background: #3e3e3f;
    padding: 0 10px;
    width: 100px;
    
    height: 10px;
    background: #34495e;
    margin: 40px auto;
    text-align: center;
    
}


  @media screen and (max-width:900px) {
    .gallery{
      margin-bottom:100px;
    }
  }
  @media (min-width: 30rem) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, minmax(15.625rem, auto));
      margin-bottom:-250px;
    }
  }
  @media (min-width: 60rem) {
    .gallery {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, minmax(15.625rem, auto));
    }
  }
  .gallery__item {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 2rem 1rem;
    
  }
  .gallery__item:nth-child(1) {
    background-image: url("https://images.unsplash.com/photo-1540932239986-30128078f3c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    display: none;
  }
  @media (min-width: 60rem) {
    .gallery__item:nth-child(1) {
      display: block;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }
  .gallery__item:nth-child(2) {
    background-color: #fff;
    opacity: .8;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .gallery__item:nth-child(3) {
    background-image: url("https://images.unsplash.com/photo-1562438668-bcf0ca6578f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80");
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .gallery__item:nth-child(4) {
    background-image: url("https://www.ikea.com/images/woman-sitting-on-a-living-room-rug-her-outstretched-arms-res-72b5e0eeca8d32c24613ed942a5ae259.jpg?f=xxxl");
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  @media (min-width: 30rem) {
    .gallery__item:nth-child(4) {
      -webkit-box-ordinal-group: 5;
              order: 4;
    }
  }
  @media (min-width: 60rem) {
    .gallery__item:nth-child(4) {
      -webkit-box-ordinal-group: 3;
      
              order: 2;
    }
  }
  .gallery__item:nth-child(5) {
    background-color: #fff;
    opacity: .8;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .gallery__item:nth-child(6) {
    background-image: url("https://www.ikea.com/images/a-kitchen-in-dark-green-with-a-kitchen-island-black-bar-stoo-0b6ce1766daab1af6c3662614a22370e.jpg?f=xxxl");
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .gallery__item:nth-child(7) {
    background-color: #fff;
    opacity: .8;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .gallery__item:nth-child(8) {
    background-image: url("https://www.ikea.com/images/a-kitchen-in-dark-green-with-a-kitchen-island-black-bar-stoo-0b6ce1766daab1af6c3662614a22370e.jpg?f=xxxl");
    display: none;
  }
  @media (min-width: 60rem) {
    .gallery__item:nth-child(8) {
      display: block;
      grid-column: 3 / 5;
    }
  }
  .gallery__title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.75rem;
    
    margin-top: 0;
  }
  .gallery__text {
    
    
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .gallery__button {
    width: 8rem;
    font-family: 'Quicksand', sans-serif;
    height: 3rem;
    border: 1px solid #333;
    background: #333;
    color: #fff;
    
  }

    .title-galary{
      text-align: center;
    }
  
  #inspre-id{
    margin-top: 90px;
    
  

  }
  #insipring{
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 30px;
    
  }

    #title-inspire{
      text-align: center;
      
    }
    
 
  @media only screen and  (max-width:1440px) {
    .inside-container-portfolio{
      background-position-x: -22rem;
    }
  }
  .inspred-hr{
    width: 250px;
    text-align: center;
    
  }
  .inspire-background{
    background-image: url('https://images.pexels.com/photos/403571/pexels-photo-403571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center ;
  }

.portfolio{
  padding:30px 10px;
  margin-top: -80px;
 
  /*  */
  
  

  


}

#galary-row{
  margin-bottom: 15px;
}


/* responsive mode */
@media screen and (min-width:664px){
  .portfolio-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.single-portfolio{
  flex:0 0 calc(50% - 10px);
  margin:10px 0;
}


}

@media screen and (min-width:868px){

  .portfolio{
    padding:60px 0;
  }
  .portfolio-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }




}
